/* 게임 전체를 감싸는 div */
.mole-wrap {
  text-align: center; /* 가운데 정렬 */
}

/* 두더지 구멍을 포함하는 보드 → 3x3(9개)의 그리드 레이아웃을 만들고 중앙 정렬 */
.mole-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}

/* 두더지가 나오는 구멍 */
.mole-hole {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #654321;
  transition: background 0.2s; /* 배경색 부드럽게 전환 */
}

/* isMole = true일 떄 배경색을 변경하여 두더지가 올라온 것처럼 보이게 함. */
.mole {
  background-color: #FFD700;
}

.mole-character {
  font-size: 40px;
}