
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* 
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* 
.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
/* 
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
/* 
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');
/* 
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* 
.ibm-plex-serif-thin {
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-serif-extralight {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-serif-light {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-serif-medium {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-serif-semibold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-serif-bold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-serif-thin-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-serif-extralight-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-serif-light-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-serif-regular-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-serif-medium-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-serif-semibold-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-serif-bold-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: italic;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
/* 
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
/* 
.old-standard-tt-regular {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}

.old-standard-tt-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}

.old-standard-tt-regular-italic {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
}
*/
@import url("https://use.typekit.net/uym5qpg.css");
/* font-family: "ccmeanwhile", sans-serif;
font-weight: 700;
font-style: normal; */
/*font-style: italic; */

@font-face {
  font-family: "Roboto-Bold";
  src: url(/public/font/Roboto/static/Roboto-Bold.ttf);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(/public/font/Roboto/static/Roboto-Medium.ttf);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@font-face {
  font-family: "Roboto-Regula";
  src: url(/public/font/Roboto/static/Roboto-Regular.ttf);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@font-face {
  font-family: "Newsreader-ExtraBold";
  src: url(/public/font/Newsreader/static/Newsreader_60pt-ExtraBold.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Newsreader-Bold";
  src: url(/public/font/Newsreader/static/Newsreader_60pt-Bold.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display-Bold";
  src: url(/public/font/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
  font-optical-sizing: auto;
  font-style: normal;
}

@font-face {
  font-family: "Libre Barcode 39";
  src: url(/public/font/Libre_Barcode_39/LibreBarcode39-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barriecito";
  src: url(/public/font/Barriecito/Barriecito-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
} */

body {
  background-color: #F4F1EA ;
  font-family: "Roboto-Regula";
  font-size: 14px;
  color: #3B302F ;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

figure {
  width: fit-content;
  height: fit-content;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}                                              

sup {
  vertical-align: super;
}

.wrap {
  position: relative;
  max-width: 1440px;
  margin: auto;
  padding: 0 32px;
}

.left-inner {
  width: fit-content;
}

.right-inner {
  position: absolute;
  top: 0;
  right: 32px;
  width: 448px;
}

.top-btn {
  position: absolute;
  right: 32px;
  bottom: 32px;
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #5C4033;
  background-color: rgb(112, 66, 20, .5);
  font-family: "Barriecito";
  font-size: 40px;
  color: #F4F1EA;
}

.media-wrap {
  display: none;
}

@media screen and (max-width: 1440px) {

  .wrap {
    display: none;
  }

  .media-wrap {
    display: block;
  }

  .media-view {
    padding: 0 26px;
  }
}

@media screen and (max-width: 1024px) {

  .media-view {
    padding: 0 24px;
  }
}


@media screen and (max-width: 768px) {

  .media-view {
    padding: 0 16px;
  }
}
