.news-wrap figure {
  margin-bottom: 4px;
  border: 2px solid #5C4033;
}

.news-wrap {
  display: flex;
  gap: 24px;
}

.news-wrap .line {
  width: 4px;
  margin: 16px 0;
  background-color: #704214;
}

.news-wrap figure {
  margin-bottom: 4px;
  border: 2px solid #5C4033;
}

.news-caterogy {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  padding-top: 32px;
}

.news-caterogy button {
  width: fit-content;
  border: none;
  background-color: transparent;
  font-family: "Roboto-Bold";
  font-size: 16px;
  text-align: start;
  color: #3B302F ;
}

.news-list {
  max-width: 731px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  padding-bottom: 32px;
}

.news-item h2 {
  margin-bottom: 8px;
  font-family: "Playfair Display-Bold";
  font-size: 40px;
}

.news-text {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  line-height: 150%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* 첫 번째 뉴스 */
.news-item-first {
  max-width: 100%;
}             

.news-item-first img {
  width: 731px;
}

/* 나머지 뉴스 */
.news-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 731px;
}

.news-grid .news-item {
  width: 383px;
}

.news-grid .news-item h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 28px;
}

.news-grid .news-item img {
  width: 383px;
  object-fit: cover;
  background-color: rgba(112, 66, 20, .5);
}

.news-grid .news-item:nth-child(2n) {
  width: 332px;
}

.news-grid .news-item:nth-child(2n) img {
  width: 332px;
}


