.weather-wrap {
  width: 448px;
  margin-top: 30px;
  padding-bottom: 8px;
  border: 4px solid #5C4033;
  background-color: rgba(112, 66, 20, .5);
}

.weather-wrap .title {
  width: 100%;
  margin: 16px 0;
  font-family: "Playfair Display-Bold";
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.weather-wrap .search-bar {
  position: relative;
  padding: 0 16px;
}

.weather-wrap .search-icon {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.weather-wrap input {
  width: 100%;
  height: 60px;
  padding-left: 48px;
  border: none;
  outline: none;
  background-color: rgb(92, 64, 51, .5);
  color: #3B302F;
}

.weather-wrap input::placeholder {
  font-family: "Roboto-Regula";
  font-size: 16px;
  color: #3B302F;
}


/* Weather-info */
.weather-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  0 16px;
}

.weather-info .city {
  margin-bottom: 16px;
  font-family: "Roboto-Bold";
  font-size: 32px;
}

.weather-info .w-condition {
  font-family: "Roboto-Regula";
  font-size: 28px;
  text-align: center;
}

.weather-info .weather-icon {
  /* margin-left: 41px;
  margin-right: 19px; */
}

.weather-info .right {
  text-align: center;
}

.weather-info .right .h {
  margin-right: 4px;
}

.weather-info .right .temperature {
  font-family: "Newsreader-ExtraBold";
  font-size: 40px;
}

sup {
  font-size: 24px;
  font-weight: bold;
}


/* Weather-details */
.weather-details {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 28px;
  padding: 0 16px;
}

.weather-details .con {
  display: flex;
  gap: 16px;
}

.weather-details .name {
  margin-bottom: 4px;
  font-size: 14px;
}

.weather-details .value {
  font-family: "Roboto-Medium";
}

/* days */
.days {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.days .today,
.days .nextBtn {
  font-family: "Roboto-Bold";
  font-size: 18px;
}

.days .nextBtn {
  display: block;
  border: none;
  background-color: transparent;
  color: inherit;
}

/* Hourly-forecast */
.hourly-forecast ul {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 16px;
}

.hourly-forecast li {
  padding: 8px 16px;
  text-align: center;
  background-color: rgb(92, 64, 51, .5);
  color: #F4F1EA;
}

.hourly-forecast .time-icon {
  max-width: 50px;
  margin: 2px 0;
} 
