.maze-wrap {
  text-align: center;
}

.maze {
  display: inline-block;
  margin-top: 20px;
}

.maze-row {
  display: flex;
}

.maze-cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wall {
  background-color: #111;
}

.exit {
  background-color: greenyellow;
}

.player {
  font-size: 20px;
}