.maze-wrap {
  padding: 16px;
  font-family: "ccmeanwhile", sans-serif;
  text-align: center;

}

.maze-wrap h1 {
}

.maze-wrap .clear-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 400px;
  padding: 16px;
}

.maze-wrap .win-message {
  margin-bottom: 16px;
}

.maze {
  display: inline-block;
  margin-top: 20px;
}

.maze-row {
  display: flex;
}

.maze-cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wall {
  background-color: #111;
}

.exit {
  background-image: url(/public/img/gojo05.png);
  background-size: cover;
  background-color: #016B93;
}

